body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  margin: 0;
}

.header {
  align-items: flex-end;
  background-color: #ff9791;
  justify-content: center;
  display: flex;
}

.header__group {
  margin-bottom: 50px;

  /* align the description to the right without it being justified to the right */
  display: flex;
  flex-direction: column;
}

.header__title {
  color: #fff;
  font-size: 200px;
  margin: 0;
  position: relative;
  z-index: 2;
}

.header__description {
  align-self: flex-end;
  display: inline-block;
  margin: 0 50px 0 0;
  font-weight: 600;
  font-size: 17px;
}

.header__img {
  animation: backgroundzoom 2s forwards ease-in;
  position: absolute;
  transform: translate3d(20px, 30px, 0);
}


@keyframes backgroundzoom {
  0% {
    opacity: 0.8;
    transform: scale(1.3);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

section, header {
  height: 100vh;
}

.information {
  align-items: center;
  display: flex;
}

.information__container {
  display: flex;
  justify-content: center;
}

.information--backwards {
  flex-direction: row-reverse;
}

.information__img-backdrop {
  width: 400px;
  height: 400px;
  background-color: #ff9791;
  border-radius: 50%;
  margin-right: 80px;
}

.information__img-backdrop--ml {
  margin: 0 0 0 80px;
}

.information__group {
  width: 30%;
}